<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PON</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb324209427951910</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https://pon.jp/callback_url</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.com.msoft.pon</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https://mytenant.auth0.com/login/callback</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1036</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>5c4e6aaf685ca3f17bddd895bebd64f75261b90b</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>002neLhPbyLMt6rBP68wVVstN</string>
					<key>consumerSecret</key>
					<string>u2Cp1LFDin1zeQXxqXdgQEddZP06wsEPMxotStnThe7OsBVK43</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>324209427951910</string>
	<key>InstagramAppClientId</key>
	<string>cd9f614f85f44238ace18045a51c44d1</string>
	<key>InstagramAppRedirectURL</key>
	<string>https://mytenant.auth0.com/login/callback</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
		<string>fbauth</string>
		<string>lineauth</string>
		<string>line3rdp.$(APP_IDENTIFIER)</string>
		<string>instagram</string>
		<string>line</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LineAdapterConfig</key>
	<dict>
		<key>ChannelId</key>
		<string>1486368034</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>access.line.me</key>
			<dict>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>api.line.me</key>
			<dict>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>dl.profile.line-cdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>dl.profile.line.naver.jp</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>lcs.naver.jp</key>
			<dict>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>obs.line-apps.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>scdn.line-apps.com</key>
			<dict>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>I need location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>I need locaion</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>I need photo</string>
	<key>Privacy - Camera Usage Description </key>
	<string>I need camera</string>
	<key>UIAppFonts</key>
	<array>
		<string>HiraginoSans-W4.ttc</string>
		<string>HiraginoSans-W5.ttc</string>
		<string>HiraginoSans-W6.ttc</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
