<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hunters1984.pon">

    <permission
        android:name="com.hunters1984.pon.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hunters1984.pon.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.ShopLocationActivity" />
        <activity android:name=".activities.ShopSubscribeActivity" />
        <activity android:name=".activities.ShopSubscribeDetailActivity" />
        <activity android:name=".activities.ShopCouponFilterActivity" />
        <activity android:name=".activities.MapShopCouponActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBZP9vS85xoMyKfGJupqCO_sSwm7LkZEjg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activities.MyFavouriteActivity" />
        <activity
            android:name=".activities.HistoryActivity"
            android:label="@string/title_activity_history" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.ProfileShopFollowingActivity" />
        <activity android:name=".activities.CouponDetailActivity" />
        <activity android:name=".activities.SplashSelectLoginActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="526355f92571a6994097fe9df35fba919c2da78c" />

        <activity android:name=".activities.SignInEmailActivity" />
        <activity android:name=".activities.SignUpEmailActivity" />
        <activity android:name=".activities.ShopDetailActivity" />
        <activity android:name=".activities.NewsActivity" />
        <activity android:name=".activities.PrivacyPolicyActivity" />
        <activity android:name=".activities.SpecificTradeActivity" />
        <activity android:name=".activities.ShareCouponActivity" />
        <activity android:name=".activities.UseCouponActivity"></activity>
    </application>

</manifest>