<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hunters.pon">

    <permission
        android:name="com.hunters.pon.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hunters.pon.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".application.PonApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainTopActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShopCouponByCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddShopFollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddShopFollowDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CouponByCategoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapShopCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Mine : AIzaSyBZP9vS85xoMyKfGJupqCO_sSwm7LkZEjg -->
        <!-- Customer : AIzaSyBPVkG6R4eBAD7XJV09z7ig3QC0zU8D2ns -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBZP9vS85xoMyKfGJupqCO_sSwm7LkZEjg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />

        <activity
            android:name=".activities.MyFavouriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileHistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileShopFollowingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CouponDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashSelectLoginActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="526355f92571a6994097fe9df35fba919c2da78c" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name=".activities.SignInEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUpEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShopDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SpecificTradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShareCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UseCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.PhotoActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>